<%= paginate @reports %>

<% if @reports.empty? && params[:search]%>
    <h2>Results found for keyword(s): <strong><%= @search_term %></strong></h2>
    <p class="empty_reports">There are no reports matching that query.</p>.
<% elsif @reports.empty?%>
    <p class="empty_reports">There are no reports for this state.  Please make sure that you are logged in and click "Create a Report" if you would like to create one.</p>
<% end %>

<% if !@reports.empty? && params[:search] %>
    <h2>Results found for keyword(s): <strong><%= @search_term %></strong></h2>
<% end %>

<% @reports.each do |report| %>
    <hr>
    <%= truncate report.content, length: 250 %><br><br>
    <%= link_to "Continue reading this report", report_path(report) %><p></p>
    <p class="postdate">Posted on: <%= report.created_at.strftime("%m/%d/%Y") %><br>
    <% if report.updated_at != report.created_at%>
        Updated on: <%= report.updated_at.strftime("%m/%d/%Y")%> </p>
    <% end %>
    <% if current_user %>
        <% if report.user == current_user || current_user.admin %>
            <ul id="buttons">
                <li class="e-button"><%= button_to "Edit", edit_report_path(report), method: :get, :class => "button radius" %></li>
                <li class="d-button"><%= button_to "Delete", report, method: :delete, action: 'destroy' , :class => "button radius"%></li>
            </ul>
        <% end %>
    <% end %>
<% end %>

<%= paginate @reports %>