<div class="row">
    <div class="large-12 columns">
    	<br>
    	<div class="error">
    		<%=flash[:error]%>
    		<br>
  		</div>
    	<%= form_for @report do |f| %>
    		<%= f.hidden_field :country, :value => "United States"%>
    		<p>Do you know in which state the child was born?</p>
    		<%= f.select :state, options_for_select(us_states),{}, class: 'form-control'%>
    		<p>Do you know the name of the hospital?</p>
    		<%= f.text_field :hospital %> <br>
    		<p>Do you know the birthday of the child?</p>
    		<%= f.date_field :birthday%>
    		<p>Is this report for a parent or a child?</p>
    		<%= f.select :generation, options_for_select(generation_options),{}, class: 'form-control'%>
    		<p>Please provide as much additional information as you can.</p>
    		<%= f.text_area :content %>
    		<%= f.submit "Submit Report", :class => "button radius" %>
    	<% end %>
    </div>
</div>